  /* CSS layout */
html {
	width: calc(100% - 6px);
}

body {
	margin: 0;
	padding: 0;
	background-color:#F0EDCD;
}

a {
	text-decoration:none;
	color:#103E7A;
}

a:hover {
	text-decoration: underline;
	color:#3e679e;
}

div {
	position:static;
	border: none;
	float:none;
}

.chart {
	width:500px;
	height:500px;
}

#masthead {
width:100%;
height:160px;
background-color:#CCC9AD;
float:inherit;

}

#masthead h1 {
	margin:0px;
	display: inline-block;
	height: 160px;
	line-height: 160px;
	vertical-align: middle;
	text-align: center;
}

#top_nav {
padding: 2px 0px 2px 2px;
float:none;
width:100%;
height:27px;
background-color:#CCC9AD;
}

#top_nav_box {
padding: 2px;
float:none;
width:100%;
height:23px;
background-color:#F0EDCD;
}


#container {
	float:none;
	display:flex;
	width: 100%;
	background-color:#CCC9AD;
}

#left_col {
	float:left;
	margin:0px;
	padding: 0px;
	width: 10%;
	background-color:#BFFAB6;
}

#right_col {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 10%;
	background-color:#BFFAB6;
}

#page_content {
	float:left;
	margin:0px;
	width: 80%;
	min-height:500px;
	background-color:#F0EDCD;
	padding:10px;
}

#footer {
	float:none;
	padding: 2px 0px 2px 2px	;
	width:100%;	
	height:23px;
	background-color:#D3D9DA;
}

.footer_box {
padding: 2px;
float:none;
width:100%;
height:23px;
background-color:#F0EDCD;
}


.link_nav {
float:left;
padding:3px 2px 0px 2px;
height: 20px;
margin-left:5px;
}

.link {
padding-left:10px;
height:20px;
margin-bottom:2px;
background-color:#BFFAB6;

}

.link_selected {
padding-left:8px;
height:20px;
margin-bottom:2px;
background-color:#BFFAB6;
font-size:1.2em;
font-weight:600;

}


.sub_link {
padding-left:20px;
height:20px;
font-size:0.9em;
margin-bottom:2px;
background-color:#BFFAB6;

}

.sub_sub_link {
padding-left:30px;
height:20px;
font-size:0.8em;
margin-bottom:2px;
background-color:#BFFAB6;

}


.module_title {
font-weight:bold;
font-size:medium;
padding-left:0px;
height:20px;
margin-left: 20px;
margin-top: 15px;
margin-bottom: 15px;
background-color:#BFFAB6;
}

.link_foot {
float:left;
padding:0 5 0 5;
height: 20px;
margin-left:5px;
}

.path {
	padding: 3px 3px 0px 1px;
	width:200px;
	height:20px;
	float:left;
	font-size:0.8em;
}

.paragrafzdj {
	width: 640px;
	height: 360px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	
}


div.article_title {
	font: italic normal 1.4em georgia, sans-serif;
	padding-bottom: 4px;
	letter-spacing: 1px; 
	margin-bottom: 0; 
		
	border-bottom-style: solid;
	border-bottom-width: thin; 
}

div.article_summary {
	padding: 8px;
	color:#303032;	
	border-bottom-style:solid;
	border-bottom-width:1px;
}

div.article_summary div {
font: italic normal 1.2em georgia, sans-serif;
color:#303032;	
padding:  5px 10px 6px 15px;
}

div.article_content {
	margin: 10px;
	
}

#logofl {
	height:100%;
	float:left;
}

p.p1 {
font: italic normal 1.1em georgia, sans-serif;
color:#303032;	
padding:  5px 10px 6px 15px;
}

p.p2 {
font: normal 0.9em georgia, sans-serif;
color:#303032;	
padding:  5px 10px 6px 15px;	
}

.module_title  {
	background-color: rgb(132, 245, 114);
	margin-right: 20px;
	text-align: center;
	border: 2px solid rgb(93, 192, 78);
	border-radius: 5px;
}

.link, .link_selected, .sub_link, .sub_sub_link {
	border-left: 2px solid rgb(93, 192, 78);
}

@keyframes hover11 {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(5px);
	}
}

.link:hover, .link_selected:hover, .sub_link:hover, .sub_sub_link:hover {
	animation: hover11 0.5s ease-out both;
}

.module_content {
	padding: 5px;
}

.czysc{
	clear:both;
	width: 0px;
	height:0px;	
}

@keyframes zd1 {
	0% {
		postion:fixed;
		top:75%;
		left:50%;
		width:0%
	}

	100% {
		position: fixed;
		top:50%;
		left:50%;
		width: 50%;
		translate: -50% -50%;
	}
}

@keyframes rotat {
	0% {
		rotate:0;
	}
	100% {
		rotate:720deg;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-9 16:18:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-tr {
	0% {
	  -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
			  box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
	  -webkit-transform: translateX(0) translateY(0);
			  transform: translateX(0) translateY(0);
	}
	100% {
	  -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
			  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
	  -webkit-transform: translateX(-8px) translateY(8px);
			  transform: translateX(-8px) translateY(8px);
	}
  }
  @keyframes shadow-pop-tr {
	0% {
	  -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
			  box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
	  -webkit-transform: translateX(0) translateY(0);
			  transform: translateX(0) translateY(0);
	}
	100% {
	  -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
			  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
	  -webkit-transform: translateX(-8px) translateY(8px);
			  transform: translateX(-8px) translateY(8px);
	}
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-4-9 16:28:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-top-1 {
	0% {
	  -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
			  transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
			  transform: rotateY(0deg) translateY(0) skewY(0deg);
	  opacity: 1;
	}
  }
  @keyframes tilt-in-top-1 {
	0% {
	  -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
			  transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
			  transform: rotateY(0deg) translateY(0) skewY(0deg);
	  opacity: 1;
	}
  }
  

.anim1 {
	position: fixed;
	animation: zd1 1s ease-in-out both;
}

.anim1rotat {
	position: fixed;
	animation-name: zd1, rotat;
	animation-delay: 0s;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

.shadow-pop-tr {
	position:fixed;
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both, zd1 1s ease-in-out both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both, zd1 1s ease-in-out both;
}

.tilt-in-top-1 {
	position:fixed;
	-webkit-animation: tilt-in-top-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, zd1 1s ease-in-out both;
	        animation: tilt-in-top-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, zd1 1s ease-in-out both;
}

.fade-in {
	position:fixed;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, zd1 1s ease-in-out both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, zd1 1s ease-in-out both;
}

.puff-in-center {
	position:fixed;
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both, zd1 1s ease-in-out both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both, zd1 1s ease-in-out both;
}
.bounce-in-top {
	position:fixed;
	-webkit-animation: bounce-in-top 1.1s both, zd1 1s ease-in-out both;
	        animation: bounce-in-top 1.1s both, zd1 1s ease-in-out both;
}

.albumzdj {
	width: calc(20% - 15px);
	margin-left:5px;
	margin-right:5px;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-9 16:36:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
	0% {
	  -webkit-transform: translateY(-500px);
			  transform: translateY(-500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(-65px);
			  transform: translateY(-65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(-28px);
			  transform: translateY(-28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes bounce-in-top {
	0% {
	  -webkit-transform: translateY(-500px);
			  transform: translateY(-500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(-65px);
			  transform: translateY(-65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(-28px);
			  transform: translateY(-28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2024-4-9 16:32:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
	0% {
	  -webkit-transform: scale(2);
			  transform: scale(2);
	  -webkit-filter: blur(4px);
			  filter: blur(4px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes puff-in-center {
	0% {
	  -webkit-transform: scale(2);
			  transform: scale(2);
	  -webkit-filter: blur(4px);
			  filter: blur(4px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2024-4-9 16:30:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  

@keyframes hover1 {
	0% {
		scale: 1;
		rotate: 0;
	}

	100%{
		scale:1.15;
		rotate:5deg;
	}
}

#album>a>img:hover {
	animation: hover1 300ms ease-in-out both;
}

.paused {
	animation-play-state: paused;
}

canvas {
	border: 1px dotted red;
}