@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Bar Chart";
}

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        
    </style>
</head>
<body>
    <h1>Wykres słupkowy</h1>
    <div id="chartDiv">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        const DATA_COUNT = 5;
        const NUMBER_CFG = { count: DATA_COUNT, min: -100, max: 100 };

        const labels = ['dane1','dane2','dane3','dane4','dane5'];
        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'Seria 1',
                    data: [94,32,-4,-25,26],
                    borderColor: '#d92c16',
                    backgroundColor: '#d92c16',
                },
                {
                    label: 'Seria 2',
                    data: [22,33,-44,55,90],
                    borderColor: '#2dcf15',
                    backgroundColor: '#2dcf15',
                },
                {
                    label: 'Seria 3',
                    data: [-20,20,90,1,3],
                    borderColor: '#1528cf',
                    backgroundColor: '#1528cf'
                }
            ]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }
            },
        };

        new Chart(document.getElementById('myChart'), config, data);
    </script>
</body>
