@{
    ViewData["Title"] = "Funkcja2";
}

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
        #chartDiv {
            width: 800px;
            height: 400px;
            border: solid 1px;
            padding: 1px;
            margin: 10px;
        }
</style>
</head>
<body>
    <h1>Funkcja2</h1>
    <div id="chartDiv">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        var x = (@Html.Raw(ViewBag.SourceX));
        var y = (@Html.Raw(ViewBag.SourceY));

        const labels = x.map(x => x.toFixed(2));
        const data = {
            labels: labels,
            datasets: [{
                label: 'Funkcja 1',
                data: y,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        const config = {
            type: 'line',
            data: data,
        };

        new Chart(document.getElementById('myChart'), config, data);
    </script>
</body>